body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 700px;
}

#gridContainer {
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
}

.gridDiv {
    width: 31.25px;
    height: 31.25px;
}

.gridDiv:hover {
    background-color: aqua;
}
