body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 700px;
    flex-direction: column;
}

#mainItems {
    display: flex;
    width: 80%;
}

#buttonsDiv {
    display: flex;
    margin-right: 19%;
    margin-left: 8.9%;
    align-items: center;
}

#squaresButton {
    height: 40px;
    width: 70px;
}

#gridContainer {
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
}

.gridDiv.hovered {
    background-color: black;
}
